RewriteEngine on

RewriteBase /micro_finance
RewriteCond $1 !^(index\.php|resources|robots\.txt)

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /micro_finance/index.php?/$1 [L]